:root {
    font-family: Microsoft YaHei UI, Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #0f0f0f;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

:root body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

:root .left_panel {
    width: 390px;
}

:root .loading_message {
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    font-size: 2em;
}

:root .input_field_panel {
    border: 1px solid #333333;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

:root .button_panel {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 5px;
    justify-items: end;
    justify-content: end;
}

:root .network_panel {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #333333;
    color: #333333;
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

:root .status_panel {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #333333;
    color: #aaaaaa;
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

:root .status_panel span {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

:root .status_panel span.log.info {
    color: #3c81d5;
}

:root .status_panel span.log.error {
    color: #ed6464;
}

:root .status_panel span.log.warning {
    color: #eddd64;
}

:root .status_panel span.network{
    color: #555555;
}

:root .right_panel {
    width: 390px;
    display: flex; 
    flex-direction: column;
}

:root .right_panel .network_status {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

:root .right_panel .network_status label{
    margin: 10px;
    flex-grow: 1;
    font-weight: bold;
}

:root .right_panel .logging {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

:root .right_panel .logging label {
    margin: 10px;
    flex-grow: 1;
    font-weight: bold;
}

:root .right_panel .logging textarea {
    /* margin: 5px; */
    flex-grow: 40;
    border: 1px solid #555555;
    outline: none;
    box-shadow: none;
    resize: none;
    padding: 10px;
    font-size: 0.7em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    line-break: anywhere;
}
