& {
    font-size: 1em;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: 1px solid #333333;
    min-width: 100px;
    box-shadow: none;
    transition: border-color 0.25s;
    background-color: #ffffff;
    line-height: 1em;
}

&:hover {
    color: #fafafa;
    background-color: #78c096;
}

&:disabled{
    color: #87ab95;
    background-color: #eeeeee;
}

